<ion-header>
  <ion-toolbar>
    <ion-title class="ion-text-center">Duoc Connect</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="ion-text-center, background ">
      <ion-text class="ion-text-center">
      <h1>Verifica tu identidad</h1>
    </ion-text>
    
  

  <ion-card  >
    <ion-item class="ion-padding-horizontal">
      <ion-label inputmode="email" position="floating"  >Nombre usuario</ion-label>
      <ion-input type="text" [(ngModel)]="usuario.nombreUsuario" placeholder="usuario web"></ion-input>
    </ion-item>
    <ion-item class="ion-padding-horizontal">
      <ion-label position="floating">contraseña</ion-label>
      <ion-input type="password" [(ngModel)]="usuario.password" placeholder="contraseña web" ></ion-input>
    </ion-item> 
    
      <ion-button class="btn_ingresar" expand="block" style="--background: #F9B901; color:black" (click)="ingresar()"  fill="solid" shape="round">
        Ingresar
      </ion-button>
      
        <ion-text  class="ion-text-center , center ,textlbl">
          ¿Haz olvidado su contraseña? 
        </ion-text>
      
      <ion-item lines=none>
        <a class="recuperar_clave , ion-text-align-center" href="./../recuperar-clave">recuperar constraseña</a>
      </ion-item>

      <ion-text  class=" ion-text-center , center , textlbl">
        ¿No tienes cuenta?
      </ion-text>
      <ion-button class="btn_ingresar" expand="block" style="--background: #F9B901; color:black" (click)="registrar()"  fill="solid" shape="round">
        Registrar cuenta
      </ion-button>
  </ion-card>
 
   

 
</ion-content>
<ion-footer>
  <ion-toolbar>
    <ion-title class="ion-text-center" size="small" > <h4> Mesa central (+56) 2 2999 3862</h4></ion-title>
  </ion-toolbar>
</ion-footer>