<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
      <ion-label>¡Blog Duoc UC!</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="input_update">
  <ion-card
    style="color: rgb(0, 61, 106)"
    *ngFor="let x of alumnos"
    class="feed_news"
  >
    <ion-label
      ><h1>{{ x.nombre + " " + x.apellido + "     #" + x.alumno_id}}</h1></ion-label>
    
      <div  id={{x.alumno_id}}>
        <ion-card-header style="color: rgb(0, 61, 106)">
          <h2>{{x.publicacion}}</h2>
        </ion-card-header>
        <div id="posted">
          <div style="margin-left: auto">            
          </div>

        </div>
      </div>
      <ion-icon
              size="large"
              id="btn_send"
              (click)="update()"
              name="paper-plane-outline"
            >
            </ion-icon>
            <ion-icon
              size="large"
              class="btns"
              name="pencil-outline"
              (click)="lapiz(x.alumno_id,x.nombre,x.apellido,x.contrasena, x.isAuthenticate)"
            ></ion-icon>
            <ion-icon
              size="large"
              class="btns"
              (click)="delete(x.alumno_id)"
              name="trash-outline"
            ></ion-icon>
    
    <ion-label id="date">17:00 01-11-2021</ion-label>
  </ion-card>

  <ion-card class="send_coment">
    <ion-label><h1>@{{user}}</h1></ion-label>
    <div id="posted">
      <ion-input
        class="input_txt"
        type="text"
        placeholder="Escribe aquí tu aporte..."
      ></ion-input>
      <ion-icon
        size="large"
        id="btn_send"
        (click)="xd()"
        name="paper-plane-outline"
      ></ion-icon>
    </div>
  </ion-card>

  
 
</ion-content>
