<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
        <ion-label >¡Blog Duoc UC!</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <img class="feed_img "  src="../../../assets/img/login.jpg" />
    <ion-card-header>
      <ion-card-subtitle > </ion-card-subtitle>
      <ion-card-title> cuenta </ion-card-title>
      <div *ngFor = "let x of alumnos"> @{{x.nombre }}</div>
    </ion-card-header>
    <ion-card-content>
     Contenido del apunte 
    </ion-card-content>
    <ion-card-subtitle id="fecha_publicacion">publicado xx/xx/xxxx</ion-card-subtitle>
  </ion-card>

  <ion-button (click)="get_all_blog()" expand="block" fill="clear" shape="round">
    traer data
  </ion-button>
</ion-content>
