ion-toolbar {
    --background: rgb(0, 61, 106);
    --color: white;
}
ion-button {
    --color: white;
    --background: rgb(0, 61, 106);
    height: 4em;
}

.feed_img {
    height: 200px;
    width: 80%;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
}

#fecha_publicacion{
    margin-left: 1em;
    color: lightgrey;
}


#posted{
    display: flex;   
}

.input_txt{
    font-size: large;
}

.feed_news{
    background-color: rgb(255, 184, 0);
    padding-top: 1em;  
    padding-right: 1em   ;
    padding-left: 1em;
    margin-top: 1em;
    
}

.send_coment{
    background-color: rgb(0, 61, 106);
    padding: 1em;
    margin-top: 2em;
    color: whitesmoke;
}

#date{
    float: right;
    margin-bottom: 0px ;
}

