<ion-header>
  <ion-toolbar class="ion-text-center">
    <ion-title>
        <ion-label >¡Blog Duoc UC!</ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card >
    <img class="feed_img "  src="../../../assets/img/login.jpg" />
    <ion-card-header>
      <ion-card-subtitle *ngFor = "let alumno of alumnos"> @{{alumno.nombre}}</ion-card-subtitle>
      <ion-card-title>Apunte </ion-card-title>
      
    </ion-card-header>
    <ion-card-content>
     Contenido del apunte 
    </ion-card-content>
    <ion-card-subtitle id="fecha_publicacion">publicado xx/xx/xxxx</ion-card-subtitle>
  </ion-card>

  <ion-button (click)="conexion()" expand="block" fill="clear" shape="round">
    Click me
  </ion-button>
</ion-content>
